--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu
torchvision
streamlit
opencv-python-headless
numpy
pillow
reportlab
pandas
matplotlib
scikit-learn
tqdm
ttach
grad-cam

fastapi
uvicorn[standard]
python-multipart

requests

# Testing
pytest
httpx
